@config "../../../../tailwind.config.js";
@import 'tailwindcss';

/*
Redefine outside of tailwind generation,
split-grid needs the style definitions to create the right tracks and
doesn't like `@layer` (which TW@4 uses)
*/
.grid-cols-panes {
  grid-template-columns: 1fr 1px 1fr;
}
.grid-rows-panes {
  grid-template-rows: 1fr 1px 1fr;
}

/* custom styles */
.arrow {
  display: inline-block;
  width: 0;
  height: 0;
}

.right {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 6px solid #444;
}

.down {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #444;
}

[x-cloak] {
  display: none;
}

/* Preload */
body {
  margin: 0;
  padding: 0;
}

/* .preload {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #888;
  background-color: #eee;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  padding: 20px;
} */
