name: Build

on: 
  pull_request:
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    env:
      CI: true

    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.head_ref }}
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: install
      run: npm ci
      env:
        CYPRESS_INSTALL_BINARY: "0"
    - name: build
      run: npm run package
    - name: Archive production artifacts
      uses: actions/upload-artifact@v1
      with:
        name: alpine-devtools
        path: dist
    - name: check formatting
      run: npm run format
    - name: Commit changes
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Apply formatting changes
    - name: Cypress run
      uses: cypress-io/github-action@v2
      with:
        start: npm start
        command: npm run cy:run
