name: Build

on:
  pull_request:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]

    env:
      CI: true

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: install
      run: npm ci
      env:
        CYPRESS_INSTALL_BINARY: "0"
    - name: build
      run: npm run package
    - name: Archive production artifacts
      uses: actions/upload-artifact@v4
      with:
        name: alpine-devtools
        path: dist
    - name: unit tests
      run: npm t
    - name: check formatting
      run: npm run format
    - name: Commit changes
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: Apply formatting changes
    # see https://github.com/bahmutov/cypress-gh-action-split-install
    - run: npx cypress cache path && npx cypress cache list
    # restore / cache the binary ourselves on Linux
    # see https://github.com/actions/cache
    - name: Cache Cypress
      id: cache-cypress
      uses: actions/cache@v4
      with:
        path: ~/.cache/Cypress
        key: cypress-cache-v1-${{ runner.os }}-${{ hashFiles('**/package.json') }}
    # install Cypress binary
    - run: npx cypress install && npx cypress cache list
    - uses: cypress-io/github-action@v6
      with:
        start: npm run start:ci
        command: npm run cy:run
        install: false
